services:
  db:
    image: mariadb:10.11
    container_name: nextcloud-db
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PW}
      - MYSQL_PASSWORD=${MYSQL_PW}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  redis:
    image: redis:alpine
    container_name: nextcloud-redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PW}
    volumes:
      - redis:/data

  app:
    image: nextcloud:27.1.5-apache
    container_name: nextcloud
    restart: unless-stopped
    ports:
      - ${HTTP_PORT}:80
    volumes:
      - nextcloud:/var/www/html
      - ./data:/var/www/html/data
      - ./config:/var/www/html/config
    environment:
      - MYSQL_HOST=db
      - MYSQL_PASSWORD=${MYSQL_PW}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - REDIS_HOST=redis
      - REDIS_HOST_PASSWORD=${REDIS_PW}
      - NEXTCLOUD_TRUSTED_DOMAINS=${TRUSTED_DOMAINS}
      - REDIS_HOST_PORT=6379
      - REDIS_HOST_DB=0
      - MEMCACHE_LOCAL=\OC\Memcache\Redis
      - REDIS_HOST_TIMEOUT=0.0
      - REDIS_CLIENT=phpredis
    depends_on:
      - db
      - redis

volumes:
  nextcloud:
  db:
  redis: